<div class="container details-container">
    <div class="edit-password-section">
        <h1> Account > <span>Change Password</span> </h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
            <%= f.label :password, "New Password"%> <br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
            </div>
            <br/>

            <div class="field">
            <%= f.label :password_confirmation, "Confirm new password"%><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <br/>
            <div class="field">
            <%= f.label :current_password %> <br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <br/>

            <div class="actions" id="submit-password-change-btn">
            <%= f.submit "Update" %>
            </div>
        <% end %>
    </div>
    <div class="profile-control-panel">
        <%= link_to "Personal Info", details_path(current_user)%>
        <%= link_to "Order History", order_history_path(current_user) %>
        <%= link_to "Edit Password", edit_user_registration_path%>
    </div>

</div>