<p> Manager and track your pending orders here </p>
<a type="button" data-toggle="modal" data-target="#helpModal"> <i class="far fa-question-circle"></i> Help </a>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">How to track your ordres:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> When a customer places orders, they will first display in the <strong>incoming</strong> column. </p>
                <p> <strong>1.</strong> Orders are represented by tickets </p>
                <%= image_tag "order-card.png"%><br/><br/>
                <p> Use the incoming column to know what orders to start preparing </p>
                <hr>
                <p> <strong>2.</strong> When you have finished preparing an order, press the yellow arrow button to progress the ticket </p>
                <%= image_tag "order-tracking-gif.gif"%><br/><br/>
                <p> The ready column keeps track of all the orders waiting to be picked up by your customers</p>
                <hr>
                <p> <strong>3.</strong> Once a customer has collected their order, you can then press the green bag button to finish your ticket </p>
                <%= image_tag "order-gif-2.gif"%><br/><br/>
                <p> You ticket will then be displayed in your order history </p>
            </div>
        </div>
    </div>
</div>

<div class="order-tracking-container">
    <div class="order-column">
        <h2> Incoming </h2>
        <% if @orders_placed.length == 0 %> <p id="order-column-hint"> Incoming orders will be displayed here </p> <% end %>
        <% for order in @orders_placed %>
            <div class="order-card">
                <div class="order-card-details">
                    <h5><%= order.get_dish.name %></h5>
                    <p>
                        <%= order.get_user.name %><br/>
                        <span>order #: <%= order.id%> </span>
                    </p>
                </div>
                <div class="quantity-details">
                    <div class="quantity-circle">
                        <%= order.quantity.to_i %>
                    </div>
                </div>
                <div class="progress-button">
                    <%= link_to order_ready_path(order.id), method: :patch do %>
                        <i class="fas fa-chevron-circle-right"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="order-column">
        <h2> Ready </h2>
        <% if @orders_ready.length == 0 %> <p id="order-column-hint" > Orders ready for collection will be displed here </p> <% end %>
        <% for order in @orders_ready %>
            <div class="order-card">
                <div class="order-card-details">
                    <h5><%= order.get_dish.name %></h5>
                    <p>
                        <%= order.get_user.name %><br/>
                        <span>order #: <%= order.id%> </span>
                    </p>
                </div>
                <div class="quantity-details">
                    <div class="quantity-circle">
                        <%= order.quantity.to_i %>
                    </div>
                </div>
                <div class="progress-button order-ready">
                    <%= link_to order_collected_path(order.id), method: :patch do %>
                        <i class="fas fa-shopping-bag"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="order-figures">
        <h3> Orders Today: <%= @orders_today %> </h3>
        <p> 
            Total Sales: <br/>
            <span id="daily-sales"> <%= number_to_currency @daily_total %> </span>
        </p>
        <h4> Order History </h4>
        <% for order in @orders_collected %>
            <div class="small-history-list-item">
                <span><%= "##{order.id}"%></span> <span><%= order.get_user.name %></span> <span><%= order.get_dish.name %></span>
            </div>
        <% end %>
        <%= link_to "Full history", dashboard_order_history_path(:option => "Orders", :ids => @dish_ids), id:"show-history" %>
    </div>
</div>