<div class="container details-container">

    <section class="details">
        <h1> Account > <span>Personal Info</span> </h1>
        <h5> Name </h5>
        <p> <%= current_user.name%> </p>
        <hr>
        <h5> Bio </h5>
        <p> <%= current_user.about? ? current_user.about.html_safe : "Say something about yourself!"%> </p>
        <hr>
        <h5> Email </h5>
        <p> <%= current_user.email%> </p>
        <hr>
        <h5> Phone </h5>
        <p> <%= number_to_phone(current_user.phone.to_i, country_code: 61, pattern: /(\d{1,3})(\d{3})(\d{3})$/) %> </p>
        <hr>
        <h5> Location </h5>
        <p> <%= current_user.location%> </p>
        <hr>
        <h5> Membership </h5>
        <p> <%= current_user.account_type.capitalize %> </p>
        <hr>
        <%= link_to "Edit", edit_details_path, class: "btn"%>

    </section>

    <div>

        <div class="profile-control-panel">
            <%= link_to "Personal Info", details_path(current_user)%>
            <%= link_to "Order History", order_history_path(current_user) %>
        </div>
        <div class="favourites-list-container">
            <h5> Favourites <i class='fas fa-heart'></i> </h5>
            <% if current_user.favourites_list %>
                <% for item in @list %>
                    <%= link_to user_path(User.find(item.user_id)) do %>
                        <div class="fav-item">
                            <%= image_tag User.find(item.user_id).get_display_picture %> <%= User.find(item.user_id).name %>
                        </div>
                    <% end %>
                <% end %>
                <% if @list.length <= 0 %>
                    <p id="find-prompt"> Find chefs to favourite now! (press the heart under their picture) </p>
                <% end %>
            <% else %>
                <p id="find-prompt"> Find chefs to favourite now! (press the heart under their picture) </p>
            <% end %>
        </div>

    </div>
</div>