<div class="container details-container">

    <section class="details">
        <h1> Account > <span>Personal Info</span> > Edit</h1>


        <%= form_with model: @user, url: update_details_path do |form| %>
            <h5> <%= form.label :name, "Name"%> </h5>
            <p> <%= form.text_field :first_name, value: current_user.first_name, class:"name-input" %> <%= form.text_field :last_name, value: current_user.last_name, class:"name-input" %> </p>
            <h5> <%= form.label :about, "Bio"%> </h5>
            <%= tinymce %>
            <% if current_user.about %>
                <p> <%= form.text_area :about, value: current_user.about.html_safe, :class => "tinymce", :rows => 20 %> </p>
            <% else %>
                <p> <%= form.text_area :about, placeholder: "Say something about yourself!", :class => "tinymce", :rows => 20 %> </p>
            <% end %>
            <h5> <%= form.label :email, "Email"%> </h5>
            <p> <%= form.text_field :email, value: current_user.email %> </p>
            <h5> <%= form.label :phone, "Phone"%> </h5>
            <p> <%= form.text_field :phone, value: current_user.phone.to_i %> </p>
            <h5> <%= form.label :location, "Location"%> </h5>
            <p> <%= form.text_field :location, value: current_user.location %> </p>
            <h5> Membership </h5>
            <p> <%= current_user.account_type.capitalize %> </p>
            <%= form.submit "Save Edits", class: "btn" %>
        <% end %>
        <br/>
        <p class="save-alert"> <%= alert if alert%> </p>

    </section>

    <div class="profile-control-panel">
        <%= link_to "Personal Info", details_path(current_user)%>
        <%= link_to "Order History", order_history_path(current_user) %>
    </div>

</div>